.app {

  .page-content-container {
    width: 600px;
    min-height: calc(100vh - 64px);
    background-color: antiquewhite;
    margin: 0 auto;

    @media all and (max-width: 600px) {
      width: 100%;
    }
  }
}

body {
  margin: 0;
  background-color: #eee;
}