.payments-container {
  .add-button {
    z-index: 99;
    position: fixed;
    bottom: 20px;
    right: calc(50% - 270px);
  }
}

.add-payment-dialog {

  .dialog-input {
    margin-bottom: 20px;
  }

  .Select {
    .Select-control {
      border-radius: 0;
      border: 0;
      border-bottom: 1px solid rgb(224, 224, 224);

      .Select-placeholder {
        color: rgba(0, 0, 0, 0.3);
      }
    }

    .Select-menu-outer {
      max-height: 100px;
    }

    .Select-menu {
      max-height: 98px;
    }
  }
}


@media all and (max-width: 600px) {
  .payments-container {
    .add-button {
      right: 30px;
    }
  }
}