.payments-container {
  .player-row {
    position: relative;

    .player-name {
      display: inline-block;
      width: 150px;
    }

    //.edit-container {
    //  position: absolute;
    //  top: 0;
    //  width: 100%;
    //  height: 100%;
    //}
  }
}
