.players-container {
  .player-row {
    .player-name {
      display: inline-block;
      width: 150px;
    }
  }

  .add-button {
    position: fixed;
    bottom: 20px;
    right: calc(50% - 270px);
  }


}

@media all and (max-width: 600px) {
  .players-container {
    .add-button {
      right: 30px;
    }
  }
}
