.players-container {
  .add-button {
    z-index: 99;
    position: fixed;
    bottom: 20px;
    right: calc(50% - 270px);
  }
}

@media all and (max-width: 600px) {
  .players-container {
    .add-button {
      right: 30px;
    }
  }
}
